<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>게시판 메인</title>
</head>
<link th:href="@{/css/board/content.css}" rel="stylesheet" href="/static/css/board/content.css">
<!--<script th:inline="javascript">-->
<script th:src="@{/js/board/content.js}" defer></script>

<body>
    <header>
        <div id="header-info">
            <span id="content-no" th:name="${content.no}" hidden>[[${content.no}]]</span>
            <span>[[${content.writer}]]</span>
            <span th:text="${#temporals.format(content.writeDate, 'yyyy-MM-dd hh:mm')}">[[${content.writeDate}]]</span>
            <span>조회: [[${content.view}]]</span>
        </div>
    </header>

    <main>
        <div id="main-container">
            <div id="content-title">
                <span class="title-span">[[${content.title}]]</span>
                <span class="modify-span" th:if="${content.writeDate != content.modifyDate}">(수정됨)</span>
            </div>
            <div id="content-info">
                <span>[[${content.mainText}]]</span>
            </div>
        </div>
    </main>
    <footer>
        <div id="comment-container">
            <div id="footer-select">
                <span id="modify-span" class="footer-span" sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id == content.id}">수정 |</span>
                <span id="delete-span" class="footer-span" sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id == content.id}">삭제 |</span>
                <span th:onclick="|location.href='@{/board/main}'|" class="footer-span">목록 |</span>
                <span class="footer-span">댓글(10)</span>
            </div>
            <div class="my-comment">
                <form name="comment-form" sec:authorize="isAnonymous()" th:onclick="|location.href='@{/user/login}'|" >
                    <textarea placeholder="로그인이 필요합니다" name="comment"></textarea>
                    <input type="button" value="댓글달기">
                </form>
                <form name="comment-form" sec:authorize="isAuthenticated()">
                    <textarea placeholder="댓글 입력" name="commentText"></textarea>
                    <input type="number" name="contentNo" th:value="${content.no}" hidden>
                    <input type="button" id="comment-write" value="댓글달기">
                </form>
            </div>
            <div class="comment-info-container">
                <div class="comment-info" th:each="comment : ${comments}">
                    <p class="comment-nick">[[${comment.writer}]]
                        <span class="comment-date"> ([[${#temporals.format(comment.writeDate, 'yyyy-MM-dd hh:mm:ss')}]])</span>
                        <span class="comment-modify" th:if="${comment.writeDate != comment.modifyDate}">(수정됨)</span>
                    </p>
                    <span class="comment-text">[[${comment.commentText}]]</span>
                    <div class="comment-btns">
                        <input type="button" value="수정">
                        <input type="button" value="삭제">
                        <input type="button" value="답글" onclick="display_reply(this)">
                    </div>
                    <div class="my-comment">
                        <form class="reply-form" th:name="${comment.no}" sec:authorize="isAuthenticated()">
                            <textarea placeholder="답글 입력" name="commentText" ></textarea>
                            <input type="number" name="contentNo" th:value="${content.no}" hidden>
                            <input type="button" class="reply-write" value="답글달기" onclick="reply_comment(this)" >
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <input id="main-btn" type="button" value="메인으로" th:onclick="|location.href='@{/board/main}'|">
        </div>
    </footer>
</body>
</html>