<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>게시판 메인</title>
    <link th:href="@{/css/board/main.css}" rel="stylesheet" href="/static/css/board/main.css">
    <script th:src="@{/js/board/main.js}" defer></script>
    <script th:inline="javascript">
        const allPageCnt = [[${page.allPageCnt}]];
        const nowPageNum = [[${page.nowPageNum}]];
        let startPageNum = [[${page.startPageNum}]];
        let endPageNum = [[${page.endPageNum}]];
        const isSearched = [[${page.isSearched}]];
        const selected = [[${selected}]];
        const searchText = [[${searchText}]];
    </script>

</head>

<body>
<header>
    <h1 th:onclick="|location.href='@{/board/main}'|">일단 게시판</h1>
    <div>
        <button class="login-btn" sec:authorize="isAnonymous()" th:onclick="|location.href='@{/user/login}'|">로그인</button>
        <button class="register-btn" sec:authorize="isAnonymous()" th:onclick="|location.href='@{/user/register}'|">회원가입</button>
        <button class="mypage-btn" sec:authorize="isAuthenticated()" th:onclick="|location.href='@{/user/register}'|">마이페이지</button>
        <button class="logout-btn" sec:authorize="isAuthenticated()" th:onclick="|location.href='@{/logout}'|">로그아웃</button>
    </div>
</header>

<main>
    <section>
        <div>
            <table>
                <colgroup>
                    <col class="no" value="No">
                    <col class="title" value="제목">
                    <col class="writer" value="글쓴이">
                    <col class="date" value="작성일">
                    <col class="view" value="조회수">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">제목</th>
                    <th scope="col">글쓴이</th>
                    <th scope="col">작성일</th>
                    <th scope="col">조회수</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="content: ${page.contents}">
                    <td align="center">[[${content.no}]]</td>
                    <td class="title" th:onclick="|location.href='@{/board/content/{no}(no=${content.no})}'|"><span>[[${content.title}]]</span><span class="reply-cnt">[<span>[[${content.hasReply}]]</span>]</span></td>
                    <td align="center">[[${content.writer}]]</td>
                    <td align="center" th:text="${#temporals.format(content.writeDate, 'yyyy-MM-dd HH:mm')}">[[${content.writeDate}]]</td>
                    <td align="center">[[${content.view}]]</td>
                </tr>
                </tbody>
            </table>

            <div id="page-container">
                <ul>

                </ul>
                <input type="button" id="write_btn" value="글쓰기" th:onclick="|location.href='@{/board/write}'|">
            </div>
            <div class="search-container">
                <select id="search-selector">
                    <option value="title">제목</option>
                    <option value="writer">작성자</option>
                </select>
                <input id="search-info" type="text">
                <input id=search-btn type="button" value="검색" onclick="search_contents()">
            </div>
        </div>
    </section>
</main>
</body>
</html>