<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>게시판 메인</title>
</head>
<link th:href="@{/css/board/main.css}" rel="stylesheet" href="/static/css/board/main.css">
<!--<script th:inline="javascript">-->
<body>
<header>
    <h1>일단 게시판</h1>
    <div>
        <button class="login-btn" sec:authorize="isAnonymous()" th:onclick="|location.href='@{/user/login}'|">로그인</button>
        <button class="register-btn" sec:authorize="isAnonymous()" th:onclick="|location.href='@{/user/register}'|">회원가입</button>
        <button class="mypage-btn" sec:authorize="isAuthenticated()" th:onclick="|location.href='@{/user/register}'|">마이페이지</button>
        <button class="logout-btn" sec:authorize="isAuthenticated()" th:onclick="|location.href='@{/logout}'|">로그아웃</button>
    </div>
</header>

<main>
    <section>
        <div>
            <table>
                <colgroup>
                    <col class="no" value="No">
                    <col class="title" value="제목">
                    <col class="writer" value="글쓴이">
                    <col class="date" value="작성일">
                    <col class="view" value="조회수">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">제목</th>
                    <th scope="col">글쓴이</th>
                    <th scope="col">작성일</th>
                    <th scope="col">조회수</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="content: ${contents}">
                    <td align="center">[[${content.no}]]</td>
                    <td class="title" th:onclick="|location.href='@{content/{no}(no=${content.no})}'|">[[${content.title}]]</td>
                    <td align="center">[[${content.writer}]]</td>
                    <td align="center">[[${content.writeDate}]]</td>
                    <td align="center">[[${content.view}]]</td>
                </tr>
<!--                <tr>-->
<!--                    <td align="center">1</td>-->
<!--                    <td class="title" onclick="location.href='../user/login.html'">ㅁㄴㅇㄹㅇㄹㄷㄹㄷㄹ</td>-->
<!--                    <td align="center">1</td>-->
<!--                    <td align="center">1</td>-->
<!--                    <td align="center">1</td>-->
<!--                </tr><tr>-->
<!--                    <td align="center">1</td>-->
<!--                    <td class="title" onclick="location.href='../user/login.html'">ㅂㅂㄼㄻㄻㄹ1</td>-->
<!--                    <td align="center">1</td>-->
<!--                    <td align="center">1</td>-->
<!--                    <td align="center">1</td>-->
<!--                </tr><tr>-->
<!--                    <td align="center">1</td>-->
<!--                    <td class="title" onclick="location.href='../user/login.html'">ㅂㄻ류ㅠ륳ㄹ1</td>-->
<!--                    <td align="center">1</td>-->
<!--                    <td align="center">1</td>-->
<!--                    <td align="center">1</td>-->
<!--                </tr><tr>-->
<!--                    <td align="center">1</td>-->
<!--                    <td class="title" onclick="location.href='../user/login.html'">1ㅇㄹㅇㄹㅇㄹㄹ</td>-->
<!--                    <td align="center">1</td>-->
<!--                    <td align="center">1</td>-->
<!--                    <td align="center">1</td>-->
<!--                </tr>-->
                </tbody>
            </table>

            <div class="search-container">
                <select>
                    <option>제목</option>
                    <option>작성자</option>
                </select>
                <input type="text">
                <input type="button" value="검색">
            </div>
            <input type="button" id="write_btn" value="글쓰기" th:onclick="|location.href='@{/board/write}'|">
        </div>
    </section>
</main>
</body>
</html>