<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>글쓰기</title>
</head>
<link th:href="@{/css/board/write.css}" rel="stylesheet" href="/static/css/board/write.css">
<!--<script th:inline="javascript">-->
<script th:src="@{/js/board/write.js}" defer></script>

<body>
  <header>
    <h1>일단 글쓰기</h1>
  </header>
  <main>
    <form name="write-form">
      <div class="write-container">
        <input th:if="${#authentication.principal.id == content.id}" type="text" placeholder="제목을 입력해주세요" th:value="${content.title}" name="title">
        <input th:if="${#authentication.principal.id != content.id}" type="text" placeholder="제목을 입력해주세요" name="title">
        <textarea th:if="${#authentication.principal.id == content.id}"  placeholder="내용을 입력해주세요" th:value="${content.mainText}" name="mainText">[[${content.mainText}]]</textarea>
        <textarea th:if="${#authentication.principal.id != content.id}" placeholder="내용을 입력해주세요" name="mainText"></textarea>
        <input th:if="${#authentication.principal.id == content.id}" type="number" id="content-no" name="no" th:value="${content.no}" hidden>
      </div>
    </form>
    <div id="register-buttons">
      <input th:if="${#authentication.principal.id == content.id}" type="button" value="수정">
      <input th:if="${content.id == null}" type="button" value="등록">
      <input type="button" value="취소">
    </div>
  </main>
</body>
</html>