<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oes.board_pj.mapper.BoardMapper">
    <insert id="write" parameterType="com.oes.board_pj.vos.ContentVO">
        INSERT INTO `content_tbl` (`title`, `mainText`,`writer`, `id`)
        VALUES (#{writeInfo[0]}, #{writeInfo[1]}, #{writeInfo[2]}, #{writeInfo[3]})
    </insert>

    <select id="get_all_contents" resultType="com.oes.board_pj.vos.ContentVO">
        SELECT * FROM `content_tbl` ORDER BY `no` DESC
    </select>

    <select id="get_content" resultType="com.oes.board_pj.vos.ContentVO">
        SELECT * FROM `content_tbl` WHERE `no` = #{no}
    </select>

    <delete id="content_delete">
        DELETE FROM `content_tbl` WHERE `no` = #{no}
    </delete>

    <update id="modify_content">
        UPDATE `content_tbl` SET `title` = #{title}, `mainText` = #{mainText}, `modifyDate` = now() WHERE `no` = #{no}
    </update>

</mapper>









