<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oes.board_pj.mapper.BoardMapper">


    <!-- =======================게시판 메인 페이징 관련============================ -->

    <!-- 전체 글 개수 가져오기   -->
    <select id="get_all_contents_cnt" resultType="_int">
        SELECT count(*) FROM `content_tbl`;
    </select>

    <!--  현재 페이지에 있는 글 가져오기  -->
    <select id="get_contents_in_page" resultType="com.oes.board_pj.vos.ContentVO">
        SELECT content.*,
        (SELECT count(*) FROM `comment_tbl` comment WHERE comment.`contentNo` = content.`no`) AS hasReply
        FROM `content_tbl` content ORDER BY content.`no` DESC LIMIT ${order},10;
    </select>

    <!-- 검색한 글 개수 가져오기   -->
    <select id="get_search_contents_cnt" resultType="_int">
        SELECT count(*) FROM `content_tbl` WHERE `${selected}` LIKE #{searchText};
    </select>

    <!-- 검색한 글들 중 현재 페이지에 해당하는 목록  -->
    <select id="get_search_contents_in_page" resultType="com.oes.board_pj.vos.ContentVO">
        SELECT content.*,
        (SELECT count(*) FROM `comment_tbl` comment WHERE comment.`contentNo` = content.`no`) AS hasReply
        FROM `content_tbl` content WHERE content.`${selected}` LIKE #{searchText} ORDER BY content.`no` DESC LIMIT ${order},10;
    </select>

    <!-- ======================= 글 들어갔을 때 내부 정보 ============================ -->

    <!-- 들어간 글 내용 받아오기   -->
    <select id="get_content" resultType="com.oes.board_pj.vos.ContentVO">
        SELECT * FROM `content_tbl` WHERE `no` = #{no}
    </select>

    <!-- 해당 글의 덧글 가져오기 -->
    <select id="get_all_comments" resultType="com.oes.board_pj.vos.CommentVO">
        SELECT * FROM `comment_tbl` WHERE `contentNo` = #{no} ORDER BY `parentNo`, `no`
    </select>

    <!-- 조회수 증가   -->
    <update id="update_view">
        UPDATE `content_tbl` SET `view` = `view` + 1 WHERE `no` = #{no}
    </update>

    <!-- ======================= 글 관련 ============================ -->

    <!-- 글 쓰기  -->
    <insert id="write" parameterType="com.oes.board_pj.vos.ContentVO">
        INSERT INTO `content_tbl` (`title`, `mainText`,`writer`, `id`)
        VALUES (#{writeInfo[0]}, #{writeInfo[1]}, #{writeInfo[2]}, #{writeInfo[3]})
    </insert>

    <!-- 글 삭제   -->
    <delete id="content_delete">
        DELETE FROM `content_tbl` WHERE `no` = #{no}
    </delete>

    <!-- 글 삭제할때 댓글도 같이 삭제   -->
    <delete id="comment_delete_in_content">
        DELETE FROM `comment_tbl` WHERE `contentNo` = #{no}
    </delete>

    <!-- 글 수정   -->
    <update id="modify_content">
        UPDATE `content_tbl` SET `title` = #{title}, `mainText` = #{mainText}, `modifyDate` = now() WHERE `no` = #{no}
    </update>

    <!-- ======================= 덧글 관련 ============================ -->

    <!-- 덧글 작성  -->
    <insert id="comment_write" parameterType="com.oes.board_pj.vos.CommentVO">
        INSERT INTO `comment_tbl` (`commentText`, `writer`,`id`, `contentNo`)
        VALUES (#{commentText}, #{writer}, #{id}, #{contentNo})
    </insert>

    <!-- 댓글 작성후 parentNo 추가하기-->
    <update id="comment_update_parent">
        UPDATE `comment_tbl` SET `parentNo` = `no` WHERE `parentNo` = 0
    </update>

    <!-- 답글 달기   -->
    <insert id="reply_write" parameterType="com.oes.board_pj.vos.ContentVO">
        INSERT INTO `comment_tbl` (`parentNo`,`commentText`, `writer`,`id`, `contentNo`)
        VALUES (#{commentNo}, #{commentText}, #{writer}, #{id}, #{contentNo})
    </insert>

    <!-- 댓글 삭제시 답글 검사   -->
    <select id="comment_has_reply" resultType="_int">
        SELECT COUNT(*) FROM `comment_tbl` WHERE `parentNo` = #{no};
    </select>

    <!-- 댓글 삭제   -->
    <delete id="comment_delete">
        DELETE FROM `comment_tbl` WHERE `no` = #{no}
    </delete>

    <!-- 댓글 밑에 답글이 있다면 더미를 남겨둔다 -->
    <update id="comment_make_dummy">
        UPDATE `comment_tbl` SET `commentText` = '삭제된 댓글입니다.', `writer` = '삭제된 댓글' WHERE `no` = #{no}
    </update>

    <!-- 답글 삭제   -->
    <delete id="reply_delete">
        DELETE FROM `comment_tbl` WHERE `no` = #{no}
    </delete>
</mapper>









