<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oes.board_pj.mapper.UserMapper">
    <insert id="register" parameterType="com.oes.board_pj.vos.UserVO">
        INSERT INTO `user_tbl` (`id`, `password`,`nick`, `email`)
        VALUES (#{id}, #{password}, #{nick}, #{email})
    </insert>

    <select id="find_user" resultType="com.oes.board_pj.vos.UserVO">
        SELECT * FROM `user_tbl` WHERE id = #{id}
    </select>

    <select id="get_my_content_cnt" resultType="_int">
        SELECT count(*) FROM `content_tbl` WHERE `id` = #{id};
    </select>

    <select id="get_my_comment_cnt" resultType="_int">
        SELECT count(*) FROM `comment_tbl` WHERE `id` = #{id} AND `isDeleted` = 0;
    </select>

    <select id="get_posts_with_comment_cnt" resultType="_int">
        SELECT count(DISTINCT content.`no`) FROM `content_tbl` content INNER JOIN `comment_tbl` comment ON content.`no` = comment.`contentNo` WHERE comment.`id`=#{id} AND comment.`isDeleted` = 0;
    </select>

<!--    <select id="get_my_content" resultType="com.oes.board_pj.vos.ContentVO">-->
<!--        SELECT content.*,-->
<!--        (SELECT count(*) FROM `comment_tbl` comment WHERE comment.`contentNo` = content.`no` AND comment.`isDeleted` = 0) AS hasReply-->
<!--        FROM `content_tbl` content WHERE content.`id` = #{id} ORDER BY content.`no` DESC LIMIT ${order},10;-->
<!--    </select>-->

    <select id="get_my_content" resultType="com.oes.board_pj.vos.ContentVO">
        SELECT content.*, COUNT(COMMENT.`NO`) AS 'hasReply'
        FROM `content_tbl` content LEFT OUTER JOIN `comment_tbl` comment ON content.`no` = comment.`contentNo`
        WHERE content.`id` = #{id} AND comment.`isDeleted` = 0 GROUP BY content.`no` ORDER BY content.`no` DESC LIMIT ${order},10;
    </select>

    <select id="get_my_comment" resultType="hashmap">
        SELECT comment.`no`, comment.`commentText`, comment.`writeDate`, comment.`contentNo`,
            (SELECT content.`title` FROM `content_tbl` content WHERE content.`no` = comment.`contentNo` AND comment.`isDeleted` = 0) AS title,
            (SELECT count(*) FROM `content_tbl` content WHERE content.`no` = comment.`contentNo` AND comment.`isDeleted` = 0) AS hasReply
        FROM `comment_tbl` comment WHERE comment.`id` = #{id} AND comment.`isDeleted` = 0 ORDER BY comment.`writeDate` DESC LIMIT ${order},10;
    </select>

<!--    <select id="get_posts_with_comment" resultType="com.oes.board_pj.vos.ContentVO">-->
<!--        SELECT content.*, COUNT(COMMENT.`NO`) AS 'hasReply'-->
<!--        FROM `content_tbl` content INNER JOIN `comment_tbl` comment ON content.`no` = comment.`contentNo`-->
<!--        WHERE comment.`id`= #{id} AND comment.`isDeleted` = 0 GROUP BY content.`no` ORDER BY content.`no` DESC LIMIT ${order},10;-->
<!--    </select>-->

    <select id="get_posts_with_comment" resultType="com.oes.board_pj.vos.ContentVO">
        SELECT CONTENT.*, COUNT(CONTENT.`no`) AS hasReply FROM `content_tbl` CONTENT
        INNER JOIN `comment_tbl` COMMENT
        ON COMMENT.contentNo = CONTENT.no
        WHERE CONTENT.`no` IN (SELECT DISTINCT `contentNo` FROM comment_tbl WHERE `id` = #{id}) AND COMMENT.`isDeleted` = 0
        GROUP BY CONTENT.`no` ORDER BY CONTENT.`no` DESC LIMIT ${order},10;
    </select>

    <update id="modify_user" parameterType="com.oes.board_pj.vos.UserVO">
        UPDATE `user_tbl` SET `nick` = #{nick}, `email` = #{email} WHERE `id` = #{id};
    </update>
</mapper>









