<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>마이페이지</title>
  <link th:href="@{/css/user/mypage/main.css}" rel="stylesheet" href="/static/css/user/mypage/main.css">
  <script src="https://kit.fontawesome.com/2404a35405.js" crossorigin="anonymous"></script>
  <script th:src="@{/js/user/mypage/main.js}" defer></script>
  <script th:inline="javascript">
    const id = [[${#authentication.principal.id}]];
    // 글
    const myContentAllPageCnt = [[${myContentPage.allPageCnt}]];
    let myContentNowPageNum = [[${myContentPage.nowPageNum}]];
    let myContentStartPageNum = [[${myContentPage.startPageNum}]];
    let myContentEndPageNum = [[${myContentPage.endPageNum}]];

    // 댓글
    const myCommentAllPageCnt = [[${myCommentPage.allPageCnt}]];
    let myCommentNowPageNum = [[${myCommentPage.nowPageNum}]];
    let myCommentStartPageNum = [[${myCommentPage.startPageNum}]];
    let myCommentEndPageNum = [[${myCommentPage.endPageNum}]];

    // 내 댓글이 있는 글
    const postsWithCommentAllPageCnt = [[${postsWithCommentPage.allPageCnt}]];
    let postsWithCommentNowPageNum = [[${postsWithCommentPage.nowPageNum}]];
    let postsWithCommentStartPageNum = [[${postsWithCommentPage.startPageNum}]];
    let postsWithCommentEndPageNum = [[${postsWithCommentPage.endPageNum}]];

  </script>
</head>
<body>
<header>
  <div id="head-container">
    <div id="profile-icon">
      <i class="fa-sharp fa-solid fa-user-tie fa-10x"></i>
    </div>
    <div id="user-info">
      <span id="head-nick">[[${#authentication.principal.nick}]]([[${#authentication.principal.id}]])</span>
      <div>
        <span>작성글 [[${myContentPage.allContentCnt}]]</span>
        <span>작성 댓글 [[${myCommentPage.allContentCnt}]]</span>
      </div>
      <span id="head-join">가입 : [[${#temporals.format(#authentication.principal.joinDate, 'yyyy-MM-dd')}]]</span>

    </div>
    <div id="mypage-menu-container">
      <div id="content-menu">
        <button>내 글</button>
        <button>내 댓글</button>
        <button>댓글단 글</button>
      </div>
      <div id="user-menu">
        <button>회원정보변경</button>
        <button>로그아웃</button>
        <button>메인으로</button>
      </div>
    </div>
  </div>
</header>
<main>
  <div id="selected-view">
  <table>
  </table>
    <div id="page-container">
      <ul>
            <!--   페이징 목록     -->
      </ul>
      <input type="button" value="삭제하기" onclick="delete_checked_info()">
    </div>
  </div>
</main>
</body>
</html>