<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>마이페이지</title>
  <link th:href="@{/css/user/mypage/main.css}" rel="stylesheet" href="/static/css/user/mypage/main.css">
  <script src="https://kit.fontawesome.com/2404a35405.js" crossorigin="anonymous"></script>
  <script th:src="@{/js/user/mypage/main.js}" defer></script>
  <script th:inline="javascript">
    const id = [[${#authentication.principal.id}]];
  </script>
</head>
<body>
<header>
  <div id="head-container">
    <div id="profile-icon">
      <i class="fa-sharp fa-solid fa-user-tie fa-10x"></i>
    </div>
    <div id="user-info">
      <span id="head-nick">[[${#authentication.principal.nick}]]([[${#authentication.principal.id}]])</span>
      <div>
        <span>작성글 [[${contentCnt}]]</span>
        <span>작성 댓글 [[${commentCnt}]]</span>
      </div>
      <span id="head-join">가입 : [[${#temporals.format(#authentication.principal.joinDate, 'yyyy-MM-dd')}]]</span>

    </div>
    <div id="mypage-menu-container">
      <div id="content-menu">
        <button>내 글</button>
        <button>내 댓글</button>
        <button>댓글단 글</button>
      </div>
      <div id="user-menu">
        <button>회원정보변경</button>
        <button>로그아웃</button>
      </div>
    </div>
  </div>
</header>
<main>
  <div id="selected-view">
  <table>
    <colgroup>
      <col class="check-col" value="체크">
      <col class="comment-col" value="댓글">
    </colgroup>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">댓글</th>
      </tr>
    </thead>
    <tbody>
      <tr height="70">
        <td align="center"><input type="checkbox"></td>
        <td class="comment-title">
          <span>이건 댓글내용</span>
          <span>이건 날짜</span>
          <span>이건 글제목</span>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</main>
</body>
</html>